WebApiProject_CE081_CE091_Client/Connected Services/EncDecServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EncDecService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEncDecService_EncryptData_InputMessage">
    <wsdl:part name="parameters" element="tns:EncryptData" />
  </wsdl:message>
  <wsdl:message name="IEncDecService_EncryptData_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEncDecService_DecryptData_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptData" />
  </wsdl:message>
  <wsdl:message name="IEncDecService_DecryptData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IEncDecService">
    <wsdl:operation name="EncryptData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncDecService/EncryptData" message="tns:IEncDecService_EncryptData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncDecService/EncryptDataResponse" message="tns:IEncDecService_EncryptData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncDecService/DecryptData" message="tns:IEncDecService_DecryptData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncDecService/DecryptDataResponse" message="tns:IEncDecService_DecryptData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEncDecService" type="tns:IEncDecService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptData">
      <soap:operation soapAction="http://tempuri.org/IEncDecService/EncryptData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptData">
      <soap:operation soapAction="http://tempuri.org/IEncDecService/DecryptData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncDecService">
    <wsdl:port name="BasicHttpBinding_IEncDecService" binding="tns:BasicHttpBinding_IEncDecService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFProject_CE091_CE081/EncDecService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>